<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC LOG for channel #<TMPL_VAR CHANNEL>" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASE_URL>style.css" title="Irclog Stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
    <link rel="canonical" 
        href="<TMPL_VAR BASE_URL><TMPL_VAR CHANNEL>/<TMPL_VAR DATE>" />
    <title>IRC log for #<TMPL_VAR CHANNEL>, <TMPL_VAR DATE></title>
	<TMPL_IF ADMIN>
	<script type="text/javascript">/* <![CDATA[ */
		function reset_checkboxes() {
			var inputs = document.getElementsByTagName("input");
			for (var i = 1; i < inputs.length - 1; i++){
				inputs[i].checked = false;
			}
		}
	/* ]]> */
	</script>
	</TMPL_IF>
	
	<script type="text/javascript" src="<TMPL_VAR BASE_URL>jquery.min.js"></script>
</head>
<body>
<div id="header" class="clearfix">
    	<div id="logo"><a href="http://koha-community.org/"><img width="300" height="100" alt="Official Website of Koha Library Software" src="http://koha-community.org/files/2013/09/cropped-kohabanner3.jpg"></img></a></div>
    </div>
  
  <div class="main-nav">
		<ul class="menu">
			<li><TMPL_VAR NAME=CHANNEL_LINKS DEFAULT=""></li>
			<li><TMPL_INCLUDE NAME='linkblock.tmpl'></li>
		</ul>
	</div> 
    
    <h1>IRC log for #<TMPL_VAR CHANNEL>, <TMPL_VAR DATE></h1>

    

    <p>All times shown according to <abbr title="Coordinated Universal Time">UTC</abbr>.</p>
    <TMPL_UNLESS NAME=IS_SUMMARY>
    <div id="summary_container" />
    </TMPL_UNLESS>
	<TMPL_IF ADMIN>
	<form method="post" action="<TMPL_VAR BASE_URL>spam.pl?date=<TMPL_VAR DATE>;channel=<TMPL_VAR CHANNEL>">
	<p><input type="submit" value="Mark as spam" /></p>
	<p><a href="javascript:reset_checkboxes()">Reset all Checkboxes</a></p>
	<div style="clear:both"></div>
    <TMPL_ELSE>
    <form action="#" name="summary_form" id="summary_form">
	</TMPL_IF>
	
	<p style="display: none;" id="filter_toggle"></p>
	
    <table id="log" style="clear:both">
        <tr class="head">
		<TMPL_IF ADMIN>
			<th>Range</th>
			<th>Single</th>
		</TMPL_IF>
            <th>Time</th>
            <th class="summary">S</th>
            <th>Nick</th>
            <th>Message</th>
        </tr>
        <TMPL_LOOP MESSAGES>
<TMPL_INCLUDE NAME='line.tmpl'>
        </TMPL_LOOP>

    </table>
	<TMPL_IF ADMIN>
	<p><input type="submit" value="Mark as spam" /></p>
	<div style="clear:both"></div>
	</TMPL_IF>
	</form>

    <TMPL_INCLUDE NAME='linkblock.tmpl'>
    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">

    <TMPL_INCLUDE NAME="footer.tmpl">
		
	<script type="text/javascript" src="<TMPL_VAR BASE_URL>nickfilter.js"></script>		
	<script type="text/javascript" src="<TMPL_VAR BASE_URL>summary.js"></script>		
</body>
</html>
<!-- <TMPL_IF DEBUG> <TMPL_VAR DEBUG> </TMPL_IF> -->
